.slider-list {
  .slick-list {
    width: 100vw;
    .slick-track {
      display: flex;
      float: left;

      .slick-slide {
        margin-right: 2rem;
      }
    }
  }
}
.btn-arrow-slide-item.btn-arrow {
  top: 40%;
  transform: translateY(-100%);
  &.btn-prev {
    opacity: 0;
    pointer-events: none;
  }
  &.btn-next {
    opacity: 1;
  }
  &.btn-prev.active {
    opacity: 1;
    pointer-events: all;
  }
  &.btn-next.active {
    pointer-events: none;
    opacity: 0;
  }
}
