.account-address {
  .add-address {
    margin-bottom: 6.4rem;
    .btn-add-address {
      width: 20%;
    }
  }
  .addresses {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    .address {
      background-color: #f7f8f9;
      border-radius: 0.2rem;
      color: var(--primary);
      padding: 1.6rem;
      display: flex;
      flex-direction: column;

      gap: 1rem;
      &-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          display: flex;
          gap: 1rem;
          span {
            font-weight: 700;
          }
          .edit-icon {
            cursor: pointer;
          }
        }
        .btn-default {
          display: none;
          .btn {
            font-size: 1rem;
            font-weight: 500;
            padding: 0.5rem 1rem;
          }
        }
        &.default-address .btn-default {
          display: block;
        }
      }
      .phone {
      }
      .delivery-address {
      }
    }
  }
}
