.order__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__code {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
  & > .isCopied > .copied {
    opacity: 1;
  }
}

.copied {
  position: absolute;
  color: #2e2e2e;
  right: -15px;
  top: -35px;
  background-color: #f7f8f9;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.order__status {
  color: #868d95;
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  display: flex;
  gap: 5px;
}
.order__product {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
}
.lq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid #f7f8f9;
}
