.order__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__code {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: relative;
  & > .isCopied > .copied {
    opacity: 1;
  }
}

.copied {
  position: absolute;
  color: #2e2e2e;
  right: -1.5rem;
  top: -3.5rem;
  background-color: #f7f8f9;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.order__status {
  color: #868d95;
  font-weight: 600;
  font-size: 1.4rem;
  font-style: italic;
  display: flex;
  gap: 0.5rem;
}
.order__product {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0px;
}
.lq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0;
  border-top: 0.1rem solid #f7f8f9;
}
