.wrapper {
  color: var(--primary);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;

  .cart-content {
    margin: 5rem 0;
    // padding-bottom: 160px;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    .cart-listing {
      flex: 1;
      padding-right: 6.5rem;
      &__header {
        padding-bottom: 3rem;
        label {
          padding-left: 1.5rem;
          cursor: pointer;
        }
      }
      &__body {
        padding: 3rem 0;
        border-top: 0.2rem solid #f7f8f9;
        border-bottom: 0.2rem solid #f7f8f9;
      }
      &__line:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    .cart-more-info {
      flex: 1;
      padding-left: 6.5rem;
      .cart-note {
        background-color: #f7f8f9;
        color: var(--primary);
        padding: 1.5rem 2rem;
        .text-coupon {
          font-size: 1.2rem;
          padding: 1rem 2rem 2rem;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
        .note-cart {
          font-size: 1.2rem;
          padding: 1rem 2rem 2rem;
        }
      }
      .cart-invoice {
        background-color: #f7f8f9;
        color: var(--primary);
        padding: 1.5rem 2rem;
        text-transform: uppercase;
        margin-top: 1.5rem;
        padding-bottom: 0;
        font-size: 1rem;
        .invoice__show {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          transition: all 0.4s ease-in-out;
          overflow: hidden;
          position: relative;
          input[type='checkbox'] {
          }
          .invoice__label {
            cursor: pointer;
            position: absolute;
            left: 2.5rem;
            top: 0.2rem;
          }
        }
        .invoice__form {
          font-size: 1rem;
          margin-top: 1rem;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;
          overflow: hidden;
          transform: translateY(-2rem);
          height: 0;
        }
        input[type='checkbox']:checked ~ .invoice__form {
          height: 40rem;
          transform: translateY(0);
        }
      }
    }
  }
  input[type='checkbox'],
  input[type='radio'] {
    margin-top: 0;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
    outline: 0 !important;
  }
  .container {
    width: var(--default-layout-width);
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
  }
  .cart-actions {
    background-color: #f0f0f0;
    padding: 3rem 0;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    &__total {
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 1.6rem;
      }
      .total-price {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      gap: 2rem;
      .btn {
        min-width: 25rem;
        &-continue {
          background-color: #f7f8f9;
          color: #212529;
        }
      }
    }
  }
}
