.empty-content {
  width: 28rem;
  max-width: 100%;
  padding: 6rem 0;
  margin: 0 auto;
  color: #868d95;
  text-align: center;
  &.pt-0 {
    padding: 0;
  }
  .content-1 {
    margin: 3rem 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .content-2 {
    margin: 0;
  }
  .btn--content {
    margin-top: 3rem;
    width: 100%;
    .btn {
      font-weight: 500;
    }
  }
}
