.state-banner {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  .state-banner-inner {
    width: 100%;
    padding: 2rem 1rem 0;
    .state-banner-container {
      display: flex;
      gap: 2rem;
      width: 100%;
      height: 100%;
      .state-banner-item {
        height: 100%;
        width: 100%;
        flex: 1;
        position: relative;
        cursor: pointer;
        .state-banner-title {
          top: 2rem;
          left: 3rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-weight: 700;
          letter-spacing: 0.1rem;
          line-height: 4.4rem;
          position: absolute;
        }
        .state-banner-img {
          width: 100%;
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 911px) {
  .state-banner {
    .state-banner-inner {
      .state-banner-container {
        flex-direction: column;
        .state-banner-item {
          flex: 1;
          .state-banner-title {
          }
          .state-banner-img {
          }
          .overlay {
            &:hover {
            }
          }
        }
      }
    }
  }
}
