.search-order {
  width: 50%;
}
.list-order {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 3.2rem;
  .order {
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 0.4rem solid #f7f8f9;
    }
  }
}
.order-not-found {
  text-align: center;
  padding-top: 5rem;
  color: #e24c4c;
}
