.search-order {
  width: 50%;
}
.list-order {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  .order {
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 4px solid #f7f8f9;
    }
  }
}
.order-not-found {
  text-align: center;
  padding-top: 50px;
  color: #e24c4c;
}
