.order-detail {
  font-size: 1.4rem;
  &__meta {
    display: flex;
    padding: 2.4rem 3.2rem;
    background-color: #f7f8f9;
    line-height: 2.1rem;
    &--left {
      flex: 1;
      padding-right: 6rem;
      border-right: 0.1rem dotted #2e2e2e;
      & > div {
        padding: 0.5rem 0;
      }
      .ord-number {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .copy-icon {
          cursor: pointer;
          position: relative;
          &.isCopied .copied {
            opacity: 1;
          }
          .copied {
            position: absolute;
            color: #f7f8f9;
            right: -1.5rem;
            top: -3.5rem;
            background-color: #757272;
            padding: 0.5rem;
            border-radius: 1rem;
            font-size: 1.2rem;
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .payment-stt {
      }
      .quantity {
      }
    }
    &--right {
      flex: 2;
      padding-left: 6rem;
      & > p {
        padding: 0.5rem 0;
      }
      .shipment-detail {
        display: flex;
        justify-content: space-between;
        span {
          color: #868d95;
          font-weight: 700;
          text-transform: capitalize;
        }
      }
      .customer {
      }
      .address {
        font-size: 1.4rem;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem 0;
    max-height: 56rem;
    overflow: scroll;
  }
  &__summary {
    padding: 3.2rem 0;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-top: 0.4rem solid #f7f8f9;
  }
  &__total {
    font-size: 1.8rem;
    padding-top: 3.2rem;
    border-top: 0.1rem solid #f7f8f9;
  }
  &__actions {
    border-top: 0.4rem solid #f7f8f9;
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    .btn {
      padding: 1.7rem;
    }
  }
  .cancel-order {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 50rem;
    position: fixed;
    top: 5rem;
    left: 50%;
    line-height: 1.4;
    z-index: 9999;
    transform: translate(-50%, 0);
    transition: all 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
    &.closed {
      animation: fadeOut 0.6s ease-in-out;
    }
    h2 {
      font-size: 2.2rem;
      padding: 2rem;
      border-bottom: 0.1rem solid #dee2e6;
    }
    .form-cancel {
      padding: 1.5rem;
      padding-top: 0;
      .cancel-input {
      }
      .cancel-btn {
        margin-top: 1.5rem;
        width: max-content;
        min-width: 18.5rem;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;

    transform: translate(-50%, -8rem);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    transform: translate(-50%, -8rem);
    opacity: 0;
  }
}
