.container {
  padding-top: 10px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.container .nav-logo {
  position: absolute;
  top: 1rem;
  left: 8rem;
}

.container .wrapper {
  margin: 0 auto;
  width: var(--default-layout-width);
}

.container .wrapper .search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.container .wrapper .search-header .nav-input {
  width: 50%;
  text-align: center;
}

.container .wrapper .search-header .nav-close {
  padding: 5px 10px;
}

.container .wrapper .search-header .nav-close .close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.container .wrapper .search-bar-result {
  padding: 55px 0;
  font-size: 1.4rem;
}

.container .wrapper .search-bar-result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .wrapper .search-bar-result-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .wrapper .search-bar-result-wrapper h5 {
  color: #868d95;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.4rem;
}

.container .wrapper .search-bar-result-left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.container .wrapper .search-bar-result-left .history .list-key-search .item-key-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  color: #868d95;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .wrapper .search-bar-result-left .history .list-key-search .item-key-search span {
  cursor: pointer;
}

.container .wrapper .search-bar-result-left .history .list-key-search .item-key-search:not(:last-child) {
  border-bottom: 1px solid #f7f8f9;
}

.container .wrapper .search-bar-result-left .history .list-key-search .item-key-search:hover {
  font-weight: 700;
}

.container .wrapper .search-bar-result-left .top-search {
  border-top: 1px solid #f7f8f9;
  padding: 32px 0 0 0;
  margin: 16px 0 0 0;
}

.container .wrapper .search-bar-result-left .top-search .active {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.container .wrapper .search-bar-result-left .top-search .active span {
  background-color: #f7f8f9;
  border-radius: 4px;
  color: #434343;
  padding: 10px 16px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container .wrapper .search-bar-result-left .top-search .active span:hover {
  background: #000000;
  color: white;
}

.container .wrapper .search-bar-result-left .empty-result {
  font-size: 1.2rem;
  color: #8d99a5;
  letter-spacing: 1px;
}

.container .wrapper .search-bar-result-right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-left: 80px;
}

.container .wrapper .search-bar-result-right .search-bar-product-item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 55rem;
  overflow-y: scroll;
  gap: 20px;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-img {
  width: 10rem;
  height: 12.4rem;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  text-align: left;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-info .product-brand {
  font-weight: 700;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-info .product-price .price {
  font-size: 12px;
  font-weight: 700;
  margin-right: 5px;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-info .product-price del {
  font-size: 12px;
  margin-left: 5px;
  display: none;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-info .product-price.hasSale > .price {
  background-color: #faff19;
  font-size: 14px;
  padding: 5px 10px;
}

.container .wrapper .search-bar-result-right .search-bar-product-item .product-loop-suggest .product-info .product-price.hasSale > del {
  display: block;
}
/*# sourceMappingURL=Search.module.css.map */