.products {
  padding: 1.5rem 0 6rem;
  display: grid;
  gap: 4rem 2rem;
  transition: all 0.5s ease-in-out;
  grid-template-columns: repeat(4, 1fr);
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.btn-sort {
  display: flex;
  position: relative;
  .icon {
    font-size: 2.2rem;
    color: var(--primary);
  }
  button {
    background-color: #f7f8f9;
    padding: 1.3rem 2rem;
    border-radius: 3rem;
    display: flex !important;
    align-items: center !important;
    font-size: 1.4rem;
    text-transform: none;
    font-weight: 500;
    min-width: 0;
  }
}
.menu-more {
  background-color: var(--primary);
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  .action-more {
    .sort-list {
      li {
        color: #ffffff;
        width: 100%;
        display: flex;
        cursor: pointer;
        input {
          display: none;
        }
        input:checked ~ label {
          font-weight: 700;
        }
        label {
          transition: all 0.3s ease-in-out;
          width: 100%;
          font-size: 1.4rem;
          text-transform: capitalize;
          padding: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
