.container {
  width: 100vw;
  background-color: var(--white);
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  -webkit-animation: slideInTop 0.5s ease-in-out;
          animation: slideInTop 0.5s ease-in-out;
}

.container.out-top {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  margin-bottom: 98px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@-webkit-keyframes slideInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.container .img-banner {
  width: 100%;
}

.container .wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4rem;
}

.container .wrapper .inner {
  height: 100%;
  width: 100%;
  padding: 0 var(--default-layout-horizontal-spacer);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrapper .inner .nav-left .logo {
  max-width: 30rem;
  cursor: pointer;
}

.container .wrapper .inner .nav-center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.container .wrapper .inner .nav-center ul li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  color: var(--primary);
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: block;
}

.container .wrapper .inner .nav-center ul li:hover {
  color: var(--black);
  font-weight: 600;
}

.container .wrapper .inner .nav-center ul li a {
  padding: 1rem;
}

.container .wrapper .inner .nav-center ul .discount {
  font-weight: 600;
  color: var(--red);
}

.container .wrapper .inner .nav-center ul .discount:hover {
  font-weight: 600;
  color: var(--red);
}

.container .wrapper .inner .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrapper .inner .nav-right .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8f9;
  margin-right: 5rem;
  padding: 10px 65px 10px 20px;
  border-radius: 25px;
  height: 40px;
  cursor: pointer;
}

.container .wrapper .inner .nav-right .search span {
  margin-left: 8px;
  letter-spacing: 2px;
  font-size: 14px;
}

.container .wrapper .inner .nav-right .wishlist,
.container .wrapper .inner .nav-right .profile,
.container .wrapper .inner .nav-right .cart {
  margin-right: 2.4rem;
}

.container .wrapper .inner .nav-right .profile {
  position: relative;
}

.container .wrapper .inner .nav-right .profile .tippy-content {
  font-size: 80px !important;
  color: var(--primary) !important;
}

.container .wrapper .inner .nav-right .profile .user-links {
  display: block;
  width: 100%;
  background-color: red;
}

.container .wrapper .inner .nav-right .profile .user-links .user-link {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.container .wrapper .inner .nav-right .profile .user-links .user-link:first-child {
  color: black;
}

.container .wrapper .inner .nav-right .profile .user-links .user-link:last-child {
  border-bottom: none;
}

.container .wrapper .inner .nav-right .profile .user-links .user-link:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: black;
  cursor: pointer;
}

.container .wrapper .inner .nav-right .profile .user-links .user-link a {
  display: block;
  padding-right: 25px;
}

.container .wrapper .inner .nav-right .profile .popper-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .wrapper .inner .nav-right .profile .popper-user li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.container .wrapper .inner .nav-right .profile .popper-user li:first-child {
  color: black;
}

.container .wrapper .inner .nav-right .profile .popper-user li:last-child {
  border-bottom: none;
}

.container .wrapper .inner .nav-right .profile .popper-user li:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: black;
  cursor: pointer;
}

.container .wrapper .inner .nav-right .profile .popper-user li a {
  display: block;
  padding-right: 25px;
}

.container .wrapper .inner .nav-right .profile .buttons {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .wrapper .inner .nav-right .wishlist {
  position: relative;
}

.container .wrapper .inner .nav-right .icons {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
}

.container .wrapper .inner .nav-right .icons:hover > .icon-active {
  opacity: 1;
}

.container .wrapper .inner .nav-right .icons .icon {
  width: 100%;
  height: 100%;
}

.container .wrapper .inner .nav-right .icons .icon-active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .wrapper .inner .nav-right .icons .quantity-item {
  position: absolute;
  top: -2px;
  right: -4px;
  font-size: 10px;
  min-width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: var(--primary);
  border: 1px solid transparent;
  padding: 2px;
  color: white;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.container .wrapper .inner .nav-right .icons .quantity-item.active {
  color: var(--primary);
  border-color: var(--primary);
  background-color: white;
}

.container .wrapper .inner .nav-right .icons.active > .icon {
  opacity: 0;
}

.container .wrapper .inner .nav-right .icons.active > .icon-active {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .wrapper {
    display: none;
  }
}
/*# sourceMappingURL=Header.module.css.map */