.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: co;
  .image-wrapper {
    .image-product {
      width: 13.4rem;
    }
  }
  .text-wrapper {
    flex: 1;
    padding-left: 2rem;
    .product-brand {
      font-weight: 700;
      letter-spacing: 0.2rem;
    }
    .product-name {
      margin: 1rem 0;
    }
  }
  .lq {
    padding: 2.4rem 0;
  }
}
