.wrapper {
  margin: 4rem 0;
  .container {
    display: flex;
    .col-3 {
      flex: 4;
      background-color: #f7f8f9;
      border-radius: 2rem;
      height: max-content;
      .account-avatar {
        padding: 3rem 0 3.2rem 0;
        position: relative;
        .avatar {
          position: relative;
          width: 12rem;
          height: 12rem;
          background-color: #fff;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          .avatar-name {
            line-height: 12rem;
            font-size: 6.4rem;
            font-weight: bold;
            text-transform: uppercase;
          }
          .img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
          .camera-icon {
            position: absolute;
            bottom: 0;
            right: 1rem;
            background-color: #f7f8f9;
            padding: 0.5rem;
            border-radius: 50%;
            cursor: pointer;
            input {
              display: none;
            }
            label {
              cursor: pointer;
            }
          }
        }
        .name {
          margin-top: 2.4rem;
          text-align: center;
          font-weight: bold;
          font-size: 2.4rem;
          letter-spacing: 0.2rem;
          padding: 0 2.4rem;
        }
        &::after {
          content: ' ';
          position: absolute;
          height: 0.4rem;
          background-color: #fff;
          bottom: 0;
          left: 5%;
          width: 90%;
        }
      }
      .sidebar__list {
        padding: 4.2rem 2rem 1.7rem 2rem;
        transition: all 0.15s ease;
        .sidebar__item {
          padding: 1.4rem 0 1.4rem 2.7rem;
          white-space: nowrap;
          text-transform: capitalize;
          letter-spacing: 0.2rem;
          border-radius: 0.2rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          transition: all 0.5s ease-in-out;
          &.active {
            background-color: white;
          }
          .sidebar__icons {
            position: relative;
            .icon {
              transition: all 0.5s ease-in-out;
              &.active {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
              }
            }
          }
          &.active .sidebar__icons .icon.active {
            opacity: 1;
          }
          &.active .sidebar__icons .icon {
            opacity: 0;
          }
          cursor: pointer;
        }
      }
    }
    .col-9 {
      flex: 9;
      .account-info {
        padding-left: 8rem;
        .account-page-title {
          font-size: 2.4rem;
          letter-spacing: 0.4rem;
          color: var(--primary);
          text-transform: uppercase;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
