.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 160px;
  background-color: var(--primary);
}

.wrapper .container {
  color: #777777;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 45px 15px;
}

.wrapper .container .footer-main_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .container .footer-main_left .col-3 {
  height: 100%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.wrapper .container .footer-main_left .col-3 .footer-main__menu-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.wrapper .container .footer-main_left .col-3 .footer-main__menu-links li {
  display: list-item;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20.3px;
  padding: 10px 0;
}

.wrapper .container .footer-main_left .col-3 .footer-main__menu-links li a {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 17px;
  margin: 0 0 25px;
  text-align: left;
}

.wrapper .container .footer-main_left .col-3 .footer-main__menu-links li a img {
  width: 150px;
  height: 57px;
}

.wrapper .container .footer-main_left .col-3:last-child {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}

.wrapper .container .footer-main_copy-right {
  color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1px;
  line-height: 15px;
  text-align: center;
  margin-top: 30px;
}

.footer-main-right {
  display: none;
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding: 10px;
  }
  .wrapper .container {
    padding: 0;
  }
  .wrapper .container .footer-main_left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .container .footer-main_left .col-3 {
    margin-top: 10px;
  }
  .wrapper .container .footer-main_left .col-3:nth-child(odd) {
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
  }
  .wrapper .container .footer-main_left .col-3:nth-child(even) {
    -ms-flex-preferred-size: 42% !important;
        flex-basis: 42% !important;
  }
  .wrapper .container .footer-main_left .col-3 .footer-main__menu-links li a {
    font-size: 12px;
  }
  .wrapper .container .footer-main_copy-right {
    display: none;
  }
  .footer-main-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: var(--primary);
    background-color: #1f1d1d;
    padding: 25px 0 30px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-main-right h4 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin: 0 0 20px;
  }
  .footer-main-right .download-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .footer-main-right .download-app svg {
    cursor: pointer;
  }
}
/*# sourceMappingURL=FooterMain.module.css.map */