.slick-prev:before {
  content: '';
  position: relative;
}
.slick-slider {
  position: relative !important;
}
.slick-prev,
.slick-next {
  top: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 0;
  transform: translate(0, 0);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-initialized .slick-slide {
  display: flex;
  & > div {
    flex: 1;
  }
}
