.wrapper {
  color: var(--primary);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  .container {
    padding: 0 1.2rem;
    width: var(--default-layout-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    & > h1 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    & > strong {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
