.order-detail {
  font-size: 1.4rem;
}

.order-detail__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 32px;
  background-color: #f7f8f9;
  line-height: 21px;
}

.order-detail__meta--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 60px;
  border-right: 1px dotted #2e2e2e;
}

.order-detail__meta--left > div {
  padding: 5px 0;
}

.order-detail__meta--left .ord-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.order-detail__meta--left .ord-number .copy-icon {
  cursor: pointer;
  position: relative;
}

.order-detail__meta--left .ord-number .copy-icon.isCopied .copied {
  opacity: 1;
}

.order-detail__meta--left .ord-number .copy-icon .copied {
  position: absolute;
  color: #f7f8f9;
  right: -15px;
  top: -35px;
  background-color: #757272;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order-detail__meta--right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 60px;
}

.order-detail__meta--right > p {
  padding: 5px 0;
}

.order-detail__meta--right .shipment-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-detail__meta--right .shipment-detail span {
  color: #868d95;
  font-weight: 700;
  text-transform: capitalize;
}

.order-detail__meta--right .address {
  font-size: 1.4rem;
}

.order-detail__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 24px 0;
  max-height: 56rem;
  overflow: scroll;
}

.order-detail__summary {
  padding: 32px 0;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  border-top: 4px solid #f7f8f9;
}

.order-detail__total {
  font-size: 1.8rem;
  padding-top: 3.2rem;
  border-top: 1px solid #f7f8f9;
}

.order-detail__actions {
  border-top: 4px solid #f7f8f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.order-detail__actions .btn {
  padding: 17px;
}

.order-detail .cancel-order {
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  position: fixed;
  top: 50px;
  left: 50%;
  line-height: 1.4;
  z-index: 9999;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: fadeIn 0.6s ease-in-out;
          animation: fadeIn 0.6s ease-in-out;
}

.order-detail .cancel-order.closed {
  -webkit-animation: fadeOut 0.6s ease-in-out;
          animation: fadeOut 0.6s ease-in-out;
}

.order-detail .cancel-order h2 {
  font-size: 2.2rem;
  padding: 20px;
  border-bottom: 1px solid #dee2e6;
}

.order-detail .cancel-order .form-cancel {
  padding: 15px;
  padding-top: 0;
}

.order-detail .cancel-order .form-cancel .cancel-btn {
  margin-top: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 185px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -80px);
            transform: translate(-50%, -80px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -80px);
            transform: translate(-50%, -80px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -80px);
            transform: translate(-50%, -80px);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -80px);
            transform: translate(-50%, -80px);
    opacity: 0;
  }
}
/*# sourceMappingURL=OrderDetail.module.css.map */